.component{
    padding: 10%;
    text-align: center;
}
.innerComponent button{
    background-color:purple;
    padding: 30px;
    border-radius: 50%;
    border:  2px solid rgb(14, 14, 14);
    cursor: pointer;
}
